.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34%;
    margin-left: auto;
    margin-right: auto;
}

.search-fields {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.search-fields input {
    width: 50%;
    min-width: 300px;
    height: 30px;
    text-align: left;
    font: 400 18px Arial;
    border-radius: 4px;
    margin-right: 5px;
}


.search-fields select {
    display: block;
    width: 5em;
    border-radius: 0.24em;
    height: 35px;
    align-self: center;
    font-size: 1em;
}

.search-submit {
    display: inline-flex;
    justify-content: center;
    margin-top: 6px;
    text-align: center;
}

.search-submit a {
    background-color: blueviolet;
    border-radius: 16px;
    padding: 0.2em 0.5em 0.2em 0.5em;
    text-align: center;
    color: whitesmoke;
    text-decoration-color: whitesmoke;
    border-style: solid;
    border-color: blueviolet;
    border-width: 0.5em;
    margin: 1.5em 0em 1.5em 0em;
}

.switch {
    display: inline-flex;
    justify-content: center;
}
.lang-switch {
    position: relative;
    display: inline-flex;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.lang-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blueviolet;
    transition: .4s;
}
  
.slider-round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
  
input:checked + .slider-round {
    background-color: blueviolet;
}

input:focus + .slider-round {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider-round:before {
    transform: translateX(26px);
}
  
  /* Rounded sliders */
  .slider-round {
    border-radius: 34px;
}
  
  .slider-round:before {
    border-radius: 50%;
}

.loc-tag {
    align-self: center;
}

@media screen and (max-width: 411px) {
    .search-bar {
        width: 100%;
        margin: 0px;
        justify-content: center;
    }


    .search-fields {
        flex-direction: column;
        justify-content: center;
    }

    .search-fields input {
        width: 60%;
        font-size: 1em;
        margin: 1em auto 1em auto;
        text-align: center;
    }

    .search-fields select {
        width: 25%;
    }

    .search-submit {
        margin-top: 1em;
    }

    .switch {
        margin-top: 0.8em;
    }
}
