.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34%;
    margin-left: 33%;
    margin-right: 33%;
}

.search-fields {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.search-fields input {
    width: 50%;
    min-width: 300px;
    height: 30px;
    text-align: left;
    font: 400 18px Arial;
    border-radius: 4px;
    margin-right: 5px;
}


.search-fields select {
    width: 11%;
    border-radius: 4px;
    height: 35px;
    align-self: center;
    font-size: 16px;
}

.search-submit {
    display: inline-flex;
    justify-content: center;
    margin-top: 6px;
    text-align: center;
}

.search-submit a {
    background-color: blueviolet;
    border-radius: 16px;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
    color: whitesmoke;
    text-decoration-color: whitesmoke;
    border-style: solid;
    border-color: blueviolet;
    border-width: 0.5em;
}

@media screen and (max-width: 411px) {
    .search-bar {
        width: 100%;
        margin: 0px;
        justify-content: center;
    }


    .search-fields {
        flex-direction: column;
        justify-content: center;
    }

    .search-fields input {
        margin: 0px;
        width: 70%;
        font-size: 16px;
    }

    .search-fields select {
        width: 19%;
    }
}
