.switch-header {
    display: inline-flex;
    justify-content: center;
}

.lang-switch-header {
    position: relative;
    display: inline-flex;
    width: 60px;
    height: 34px;
    margin: 0em 0.24em 0em 0.24em;
}
  
/* Hide default HTML checkbox */
.lang-switch-header input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider-round-header {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blueviolet;
    transition: .4s;
    transition: background-color 0.2s;
}
  
.slider-round-header:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: whitesmoke;
    transition: .2s;
}
  
input:checked + .slider-round-header {
    background-color: blueviolet;
    transition: background-color 0.3s;
}

input:checked + .slider-round-header:hover {
    background-color: blueviolet;
}

input:focus + .slider-round-header {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider-round-header:before {
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider-round-header {
    border-radius: 34px;
}
  
.slider-round-header:before {
    border-radius: 50%;
}